body {
	background: #e8e8e8;
}

#header {
	margin: 0;
	background:  asset_path(/assets/shannon/header-whole.png) no-repeat center center #c60651;
	width: 100%;
	height: 140px;
}

#footer {
	margin: 0;
	background:  asset_path(/assets/shannon/footer-whole.png) no-repeat center center #c60651;
	width: 100%;
	height: 180px;
}

.container {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1040px;
    min-height: 700px;
}

.search_request_depart, #search_request_depart, .search_request_ret_date, #search_request_ret_date, .search_request_dest, #search_request_dest, .search_request_origin, #search_request_origin {
	width: 115px;
}

.table-responsive {
	margin: 15px;
}

.btn-primary, .btn-primary:hover {
	color: white;
	background-color: #f47735;
	border: none;
	border-radius: 8px;
}

.btn-primary:hover {
	background-color: #EA773A;
}

.dataTable thead {
	background: #c60651;
	color: #fff;
}