.row
  .col-sm-3.col-sm-offset-2
    .h5{:style => 'margin: 0px;'}
      Export Market Report
  .col-sm-3
    = simple_form_for :admin, url: generate_admin_market_data_exports_path do |form|
      = form.submit 'Export'


