- page_title

.page-header
  = link_to potential_branded_carriers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h2 New Potential Branded Carrier

= render 'form'
