// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!


@import "active_admin/mixins";

// Partials
@import "active_admin/typography";
@import "active_admin/header";
@import "active_admin/forms";
@import "active_admin/components/comments";
@import "active_admin/components/flash_messages";
@import "active_admin/components/date_picker";
@import "active_admin/components/popovers";
@import "active_admin/components/tables";
@import "active_admin/components/batch_actions";
@import "active_admin/components/modal_dialog";
@import "active_admin/components/blank_slates";
@import "active_admin/components/breadcrumbs";
@import "active_admin/components/dropdown_menu";
@import "active_admin/components/buttons";
@import "active_admin/components/grid";
@import "active_admin/components/links";
@import "active_admin/components/pagination";
@import "active_admin/components/panels";
@import "active_admin/components/columns";
@import "active_admin/components/scopes";
@import "active_admin/components/status_tags";
@import "active_admin/components/table_tools";
@import "active_admin/components/index_list";
@import "active_admin/components/unsupported_browser";
@import "active_admin/components/tabs";
@import "active_admin/pages/logged_out";
@import "active_admin/structure/footer";
@import "active_admin/structure/main_structure";

@import "bootstrap";
@import "bootstrap/variables";
@import 'jasny-bootstrap/dist/css/jasny-bootstrap';
@import 'bootstrap-datepicker/dist/css/bootstrap-datepicker3';
@import 'bootstrap-toggle/css/bootstrap-toggle';
@import 'typeahead.js-bootstrap-css/typeaheadjs';

//@import "active_admin/structure/title_bar";
@import 'css_overrides';
@import "bootstrap/mixins/buttons";
@import "highlightjs/styles/default";

//
#title_bar {
//  @include section-header;
  @include clearfix;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  display: table;
  border-bottom-color: #EEE;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px $horizontal-page-margin;
  z-index: 800;

  #titlebar_left, #titlebar_right {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
  }

  #titlebar_right {
    text-align: right;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    line-height: 100%;
    font-weight: bold;
  }





  .action_items {
    span.action_item {
      & > a, & > .dropdown_menu > a {

        @include light-button;
        text-shadow: none;
        padding: 12px 17px 10px;
        span.icon {
          vertical-align: bottom;
          margin-right: 4px;
        }
        margin: 0px;
        &:hover{
          @include icon-color(#000);

        }
      }
      & > a.btn-primary, & > .dropdown_menu > a.btn-primary {
        &:not(.disabled) {
          &:hover{
            @include icon-color(#000);
            background-color: #286090;
            border-color: #204d74;
            @include gradient(#286090, darken(#286090, 1%));

          }
        }

      }
    & > a.btn-lg {
      @extend .btn-lg
    }
    & > a.btn-sm {
      @extend .btn-sm
    }
    & > a.btn-xs {
      @extend .btn-xs
    }

    }
  }
}





body {
	background: #e8e8e8;
}

.container {
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 1040px;
    min-height: 700px;
}

.table-responsive {
	margin: 15px;
}

//.btn-primary, .btn-primary:hover {
//	color: white;
//	background-color: #f47735;
//	border: none;
//	border-radius: 8px;
//}

//.btn-primary:hover {
//	background-color: #EA773A;
//}

.dataTable thead {
	background: #c60651;
	color: #fff;
}

@import 'admin/admin_overrides';
//@import 'admin/active_admin_bootstrap';




// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.title_bar h2#page_title {
  @extend h5;

}

form fieldset.inputs {
  background: #949494;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #dddddd;
  -moz-box-shadow: inset 0 1px 4px #dddddd;
  -webkit-box-shadow: inset 0 1px 4px #dddddd;
}

label {
  margin-right: 10px;
}
.load_status_col {
  width: 150px;
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}

//@mixin reset-aa-button {
//  background: none;
//  border-radius: 0;
//  border: 0;
//  box-shadow: none;
//  line-height: 1;
//  padding: 0;
//  text-shadow: none;
//  vertical-align: middle;
//  &:not(.disabled) {
//    &:hover,
//    &:active,
//    &:focus {
//      background: none;
//      border: 0;
//      box-shadow: none;
//    }
//  }
//}
//
//.array-action--add,
//.array-action--remove {
//  @include reset-aa-button;
//  font-size: rem(15);
//}
//
//.array-action--add {
//  color: green;
//}
//
//.array-action--remove {
//  color: red;
//  &.can-undo {
//    color: green;
//  }
//}

.btn, .action-items .action-item a.btn, a.btn, .action_items span.action_item > a.btn
form input[type=submit].btn, form input[type=button].btn, form button[type=submit].btn, form button.btn,
#title_bar .action_items span.action_item > a.btn
{
  @extend .btn;
  text-shadow: none;

}
.btn-primary, .action-items .action-item a.btn-primary, a.btn-primary,
form input[type=submit].btn-primary, form input[type=button].btn-primary, form button[type=submit].btn-primary, form button.btn-primary,
#title_bar .action_items span.action_item > a.btn-primary
{
  @extend .btn-primary;
  text-shadow: none;

}
.btn-default, .action-items .action-item a.btn-default, a.btn-default,
form input[type=submit].btn-default, form input[type=button].btn-default, form button[type=submit].btn-default, form button.btn-default,
#title_bar .action_items span.action_item > a.btn-default
{
  @extend .btn-default;
  text-shadow: none;

}
.btn-success, .action-items .action-item a.btn-success, a.btn-success,
#title_bar .action_items span.action_item > a.btn
form input[type=submit].btn-success, form input[type=button].btn-success, form button[type=submit].btn-success, form button.btn-success,
#title_bar .action_items span.action_item > a.btn-success
{
  @extend .btn-success;
  text-shadow: none;

}



form {

  .inputs, .actions {
    ol {
      padding-left: 0;
      list-style: none;
    }
  }

  .inputs {
    li {
      @extend .form-group;

      input, select, textarea {
        @extend .form-control;
      }
    }
  }

  .actions {
    li {
      display: inline-block;

      input, a {
        @extend .btn;
        @extend .btn-default;
      }
      input[type="submit"] {
        @extend .btn-primary;
      }
    }
  }

  label.label {
    /* The label class has a different meaning in bootstrap */
    display: inline-block;
    font-weight: bold;

    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
  }
  input[type=submit].btn, input[type=button].btn, button[type=submit].btn, button.btn {
    @extend .btn;
    text-shadow: none;
    &:not(.disabled) {
      &:hover{
        @include icon-color(#000);
        border-color: darken($btn-default-color, 2%);
        //@include gradient($btn-default-color, $btn-default-color);

      }
    }



  }
  input[type=submit].btn-primary, input[type=button].btn-primary, button[type=submit].btn-primary, button.btn-primary {
    @extend .btn-primary;
    text-shadow: none;
    &:not(.disabled) {
      &:hover{
        @include icon-color(#000);
        border-color: darken($primary-color, 2%);
        @include gradient($primary-color, darken($primary-color, 1%));

      }
    }


  }
}


