
  .btn, .action-items .action-item a.btn, a.btn, .action_items span.action_item > a.btn
  form input[type=submit].btn, form input[type=button].btn, form button[type=submit].btn, form button.btn,
  #title_bar .action_items span.action_item > a.btn
  {
    @extend .btn;
  }
  .btn-primary, .action-items .action-item a.btn-primary, a.btn-primary,
  form input[type=submit].btn-primary, form input[type=button].btn-primary, form button[type=submit].btn-primary, form button.btn-primary,
  #title_bar .action_items span.action_item > a.btn-primary
  {
    @extend .btn-primary;
  }
  .btn-default, .action-items .action-item a.btn-default, a.btn-default,
  form input[type=submit].btn-default, form input[type=button].btn-default, form button[type=submit].btn-default, form button.btn-default,
  #title_bar .action_items span.action_item > a.btn-default
  {
    @extend .btn-default;
  }
  .btn-success, .action-items .action-item a.btn-success, a.btn-success,
  #title_bar .action_items span.action_item > a.btn
  form input[type=submit].btn-success, form input[type=button].btn-success, form button[type=submit].btn-success, form button.btn-success,
  #title_bar .action_items span.action_item > a.btn-success
  {
    @extend .btn-success;
  }



  form {

    .inputs, .actions {
      ol {
        padding-left: 0;
        list-style: none;
      }
    }

    .inputs {
      li {
        @extend .form-group;

        input, select, textarea {
          @extend .form-control;
        }
      }
    }

    .actions {
      li {
        display: inline-block;

        input, a {
          @extend .btn;
          @extend .btn-default;
        }
        input[type="submit"] {
          @extend .btn-primary;
        }
      }
    }

    label.label {
      /* The label class has a different meaning in bootstrap */
      display: inline-block;
      font-weight: bold;

      padding: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-align: inherit;
      white-space: inherit;
      vertical-align: inherit;
      border-radius: inherit;
    }
    input[type=submit].btn, input[type=button].btn, button[type=submit].btn, button.btn {
      @extend .btn;
    }
    input[type=submit].btn-primary, input[type=button].btn-primary, button[type=submit].btn-primary, button.btn-primary {
      @extend .btn-primary;

    }
  }

