- page_title

.page-header
  = link_to product_code_matches_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to @product_code_match, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h2 Editing Product Code Match

= render 'form'
