- page_title

.page-header
  = link_to <%= index_helper %>_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h2 New <%= singular_table_name.humanize.titleize %>

= render 'form'
