.right-side-20 {
 margin-right: 20px;
}
.nav-label {
  font-size: 1.5em;
  font-weight: bold;
  a:hover, a {
    color: black;
    cursor: default;

  }
}
.admin-nav {
  li a i {
    font-size: 1.5em;
  }
}
.fleft {
  float: left
}
//Typeahead selection highlight
span.twitter-typeahead .tt-suggestion.tt-cursor, span.twitter-typeahead .tt-suggestion.tt-is-under-cursor {
  color: #ffffff;
  background-color: #428bca;
}


//a i, a i:after, a i:before, a i:hover {text-decoration:none;}