// Change primary or other brand colors here.
// There is a newer way to do this kind of thing called bootstrap theme
// but I haven't integreated it yet

// Uncomment to change primary color
$brand-primary:         #c60651;
$input-bg:			    #f7f7f7;
$input-border:			#cecdcd;
$input-color:			#000000;


$table-bg-accent: 		#f7f7f7;


// This will mess up the basic layout so if you use it, re-configure layout
// $font-size-base:          16px;

