// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-settings-form {
 background-color: lightgrey;
  min-width: 200px;
  padding: 5px 10px;
  margin-top: 10px;
}

//.xflt {
//  margin-left: 160px;
//  padding-top: 5px;
//}
tr.mct_invalid_flt {
  td{
    background-color: #ffd1d1 !important;
  }
  padding-top: 5px;
  margin-left: 160px;
  border: 2px dashed red;
  color: #708090;
}

.rtflt {
  margin-left: 40px;
  border: 1px solid grey
}
.rtxflt {
  margin-left: 160px;
  border: 1px solid grey
}
