<!DOCTYPE html>
<html style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-shadow: none !important; color: #000 !important; background-color: transparent !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 62.5%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
<head><title>Via Singapore</title></head>
<body style="text-shadow: none !important; color: #000 !important; background-color: transparent !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.428571429; margin: 0;" bgcolor="transparent !important">

  <div style="width: 900px; overflow: hidden; text-shadow: none !important; color: #000 !important; background-color: transparent !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;">
      <div style="text-shadow: none !important; color: #000 !important; background-color: transparent !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 100px;">
        <%= yield %>
      </div>  
  </div>    
</body>
</html>
